{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="overlay" style="background-image: url({{ table.image.url }}); background-size: cover; height: 100vh; width: 100vw; background-position: center; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div class="overlay black-transparent-background text-content">
        <form method="post" enctype="multipart/form-data" action="" style="width: 100%" class="mx-auto w-50">
                        {% csrf_token %}
                        <fieldset>
                <legend class="center">
                    {% if object %}
                    <h3>Редактирование данных</h3>
                    {% else %}
                    <h3>Регистрация</h3>
                    {% endif %}
                </legend>
                {{ form.as_p }}
                            {% if object %}
            <button type="submit" class="btn btn bordp podsvetkap textp btn-lg" style="color: white;">Редактировать</button>
            {% else %}
                    <button type="submit" class="btn btn bordp podsvetkap textp btn-lg" style="color: white;">Зарегистрироваться</button>
            {% endif %}
            </fieldset>
    </form>
</div>
</div>
{% endblock %}