{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
{% load static %}
<section id="header-section">
        <div class="overlay">
        <div class="content">
            <div class="overlay">
            <div style="background-image: url({% static 'images/priority-headline-background.png' %}); background-size: cover; height: 100vh; width: 100vw; background-position: center; display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <h1 class="mb-5" style="color: white; text-align: center; font-size: 80px; font-weight: bold;">Бар & ресторан</h1>
                <h1 class="mt-5" style="color: white; text-align: center; font-size: 100px; font-weight: bold;">HEAVEN</h1>
                <h1 style="color: white; text-align: center; margin-top: 5%;">Мы расположены на последнем этаже самого</h1>
                <h1 style="color: white; text-align: center;">высокого здания города Москва. Выше нас только звезды.</h1>
            </div>
        </div>
            </div>
        </div>
    </section>

<section id="main-content">
    <div class="container">
        <div class="left-column">
            <h1>Левосторонняя колонка</h1>
            <p>Здесь располагается текст для левой стороны страницы.</p>
        </div>
        <div class="right-column">
            <h1>Правосторонняя колонка</h1>
            <p>Здесь располагается текст для правой стороны страницы.</p>
        </div>
        </div>
    </section>

<footer>
        <p>© 2025 Heaven</p>
    </footer>
{% endblock %}